$background1: rgba(255, 192, 203, 0.25);
$background2: rgba(244, 143, 177, 0.18);
$background3: rgb(181, 116, 116) ;
$background4: rgb(183, 143, 143) ;
$background5:rgba(255, 255, 255, 0.75);
$background6:rgb(254, 245, 245);


$font-Tan: 'Young Serif', serif;

$font-size-h4:20px;
$font-size-h5:18px;
$font-size-h3:28px;
$font-size-p: 14px;
$font-size-h2:45px;